.price {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'lcd phone', sans-serif;
    color: black;
    font-size: 14px;

    &.up {
        color: green;
    }

    &.down {
        color: red;
    }

}

.net {
    display: flex;
    gap: 10px;

    .netTotal {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .netChange {
        display: flex;
        font-size: 10px;
        gap: 12.5px;

        .details {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.up {
            color: green;
        }

        &.down {
            color: red;
        }
    }
}