.datatable {
    height: 850px;
    padding: 20px;


    .datatableTitle {
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .afterHours {
            display: flex;
            padding: 5px 20px 5px 20px;
            background-color: red;
            font-size: 30px;
            animation: blinker 1s linear infinite;
            color: white;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-weight: lighter;
        }

        @keyframes blinker {
            50% {
                opacity: 0;
            }
        }

        .link {
            text-decoration: none;
            color: green;
            font-size: 16px;
            font-weight: 400;
            border: 1px solid green;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg {
        display: flex;
        align-items: center;

        .cellImg {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 20px;
        }
    }

    .priceWithStatus {
        padding: 5px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.Profitable {
            color: green;
        }

        &.Bleeding {
            color: red;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;

        &.Profitable {
            color: green;
            background-color: rgba(0, 128, 0, 0.151);
        }

        &.Bleeding {
            color: red;
            background-color: rgba(253, 11, 11, 0.151);
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgba(0, 0, 139, 0.631);
        }

        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: crimson;
            border: 1px dotted rgba(220, 20, 60, 0.614);
            cursor: pointer;
        }

        button {
            all: unset;
        }
    }
}