.todayStatus {
    display: flex;
    flex-direction: row;

    .todayDetails {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;

        .footerElementDetail {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            padding-left: 10px;

            &.up {
                color: green;
            }

            &.down {
                color: red;
            }
        }
    }
}

.alltimeStatus {
    display: flex;
    flex-direction: row;

    .alltimeDetails {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        .footerElementDetail {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            padding-left: 10px;

            &.up {
                color: green;
            }

            &.down {
                color: red;
            }
        }

    }

}

.total {
    display: flex;
    flex-direction: row;

    .totalDetails {
        display: flex;
        align-items: center;
        justify-content: center;

        .footerElementDetail {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            padding-left: 10px;

            &.up {
                color: green;
            }

            &.down {
                color: red;
            }
        }
    }
}